@import url("https://fonts.googleapis.com/css2?family=Crimson Pro:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* General Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html {
  font-size: 100%;
}

body {
  font-family: Crimson Pro, sans-serif;
  line-height: 1.6rem;
  min-height: 100vh;
  overflow: hidden;
  color: #333;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

/* Header */
header {
  background: #3399cc;
  color: white;
  padding: 12px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
}

header p {
  margin: 5px 0;
}

/* Navigation */
nav ul {
  background: #333;
  list-style: none;
  padding: 3px;
  /* margin: 0; */
  text-align: center;
  position: sticky;
}

nav ul li {
  display: inline;
  margin: 0 30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  font-size: 1.1rem;
  color: #ffcc00;
  transition: all 0.3s;
}

/* Main Content */
main {
  height: calc(80vh - 10px);
  padding: 2px;
  overflow-y: auto;
  /* border: 1px solid #ccc;  */
}

/* section {
  margin-bottom: 20px;
} */

h2 {
  color: #002d72;
}

/******* About Me *********/
.user-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* background-color: green; */
  min-height: 100vh;
  flex: 1;
}
.avatar-container {
  display: flex;
  flex-direction: column;
  position: relative;
  /* background-color: #002d72; */
}

.avatar {
  position: absolute;
  top: 2rem;
  left: 3rem;
  border-radius: 5px;
  max-width: 60%;
}

.avatar-links {
  display: flex;
  position: absolute;
  left: 2rem;
  top: 23.5rem;
  width: 14.5rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* background-color: red; */
}
.avatar-links a {
  text-decoration: none;
  color: #002d72;
  font-size: 1rem;
}
.user-description {
  /* background-color: lightblue; */
  height: 100%;
  text-align: left;
  margin-right: 1rem;
}
.user-description h2 {
  margin-top: 2rem;
}

.user-description p {
  margin-top: 0.5rem;
}

/******* Education and Work Experience *********/
.education-work-experience-picture-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.education-work-experience {
  margin-left: 3rem;
}
.education-work-experience h2 {
  text-align: center;
}

/******* publications *********/
.selected-publications {
  text-align: center;
  margin-top: 1rem;
}
.publications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.publications a {
  text-decoration: none;
}

/******* contact *********/
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  min-height: 100vh;
  margin: 1rem 1rem;
  justify-content: center;
  text-align: left;
}
.contact-container h2 {
  text-align: center;
}

/**** Footer ********/
.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;
  padding: 3px;
  background-color: #333333;
  color: white;
}
